* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 30px;
  width: 500px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.common {
  width: 100%;
  padding: 10px;
}

.toggle-arrow {
  cursor: pointer;
}

.checked-tree-container {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.checked-tree-container > * {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.nested-child > * {
  margin-left: 10px;
}
